.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.button {
  border-radius: 375px;
  border-color: whitesmoke;
  padding-left: 18px;
  padding-right: 16px;
  padding-top: 3px;
  padding-bottom: 4px;
  background-color: rgb(17, 16, 16);
  color: whitesmoke;
  font-style: italic;
  font-family: cursive;
}
.button:hover {
  background-color: rgb(231, 45, 12);
  color: black;
  cursor: grabbing;
}
.form {
  border-color: rgb(13, 13, 70);
  border-radius: 375px;
  font-style: italic;
  font-family: cursive;
  padding-left: 18px;
  padding-right: 16px;
  padding-top: 3px;
  padding-bottom: 4px;
  margin-bottom: 8px;
}
.h {
  color: rgb(7, 7, 46);
  text-shadow: 3px 3px 4px cornflowerblue;
}
.h11 {
  color: rgb(213, 213, 235);
  background-color: rgb(37, 37, 94);
  position: sticky;
}
